@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @layer scroll-m-0 croll-p-0;
}

.navBar {
  width: 100vw;
}
.app-nav {
  @apply h-16  flex flex-row  gap-20  items-center justify-end	pr-9	bg-red-400		text-white text-xl;
}

.app-nav {
  width: 100vw;
}

.food {
  font-size: 80%;
}

.app-nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 6px 9px;
}

@media screen and (max-width: 600px) {
  .app-nav {
    @apply h-14  flex flex-row  gap-8  items-center justify-center	pr-0	bg-red-400		text-white text-lg;
  }
}

@media screen and (max-width: 370px) {
  .app-nav {
    display: none;
  }
}
