@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

footer {
    width: 100vw; 
}

.foot {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot {
    @apply	p-4	bg-red-400		text-white text-xl
}

.socials h1 {
    @apply			text-white text-2xl
}

.socials .social{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
    font-size: 40px; 
}

.socials .social a:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;
    transition: 0.6s;
}

@media screen and (max-width: 600px) {
    .foot {
        display: none;
    }
}
